.card {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  font-family: Roboto, sans-serif;
  height: auto;
}

.titleblock {
  display: flex;
  border-bottom: 5px solid black;

}

.ageRating {
  background-color: lightgreen;
  height: fit-content;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1em;
  padding: .2em;
}

.rating {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  text-shadow: 0px 0px 2px black;
  display: inline-grid;
  grid-template-columns: 2.3em 2.3em 2.3em 2.3em 2.3em;
  grid-template-rows: 2.3em;
}

.fa-star {
  font-size: 2em;
  transition: .2s;
  width: 100%;
  text-align: center;
  margin-top:auto;

  &:hover {
    cursor: pointer;
    font-size: 2.3em;
    text-shadow: 0px 0px 3px black;
  }
}

.selected {
  color: #ffb01f;
}

.continue {
  font-family: 'Major Mono Display', monospace;
  font-size: 1.5em;
  float: right;
  background-color: lightgrey;
  padding: 10px 50px;
  transition: .2s;

  &:hover {
    box-shadow: 0px 0px 2px black inset;
    cursor: pointer;
  }
}
