ul {
  padding: 0;
}

label, li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: lighter;
    margin: 0.5em;
    text-align: center;
    list-style: none;
  }

.genreBtn{
  background: white;
  padding: 16px;
  transition: .2s;
  text-align: left;
  border-bottom: 1px solid darkgrey;
}

.genreBtn:hover {
  padding-bottom: 14px;
  border-bottom: 3px solid black;
  cursor: pointer;
}

.selected {
  background: lightgreen;
  text-align: right;
}


form{
    text-align: center;
}

input {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border: 0px;
  border-bottom: 1px solid black;
  font-size: 1em;
}

input:focus {
  outline: none;
}
