<div class = "content">
  <form [formGroup]="profileForm">
    <label>
      Age:
      <input type="text" [formControl]="age">
    </label>
    <label>
      Gender:
      <input type="text" [formControl]="gender">
    </label>
    <label>
      Occupation:
      <input type="text" [formControl]="occupation">
    </label>
  </form>
  
  <h2>Please select your favourite genres..</h2>
  <ul>
    <li class = "genreBtn" *ngFor = "let genre of genres" id = "{{genre.id}}" (click)="changeColor($event)"> 
      {{genre}}
    </li>
  </ul>
</div>

