<div class = "content">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate>

    <div class = "bioItems">
      <input
      type="number"
      formControlName="age"
      placeholder="Age">
      <input
      formControlName="gender"
      placeholder="Gender">
      <input
      formControlName="occupation"
      placeholder="Occupation">
   </div>

    <div class="genres">
        <h2 class="formField">Please select your favourite genres:</h2>
        <input type="button" class="genreBtn" [ngClass]="likedgenres[i] ? 'selected' : ''" *ngFor = "let genre of genres; let i = index" id="{{ i }}" (click)="toggleGenre(i)" value ="{{ genre }}">
      </div>

    <input type="submit" [disabled]="!profileForm.valid" value="next>" (click)="onSubmit()">

  </form>
</div>
