<div class = "content">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>
      Age:
      <input
      type="number"
      formControlName="age"
      placeholder="32">
    </label>
    <label>
      Gender:
      <input
      formControlName="gender"
      placeholder="Male">
    </label>
    <label>
      Occupation:
      <input
      formControlName="occupation"
      placeholder="Bus Driver">
    </label>

    <div class="genres">
      <h2 class="topmessage">please select your favourite genres</h2>
      <ul>
        <li class = "genreBtn" [ngClass]="likedgenres[i] ? 'selected' : ''" *ngFor = "let genre of genres; let i = index" id="{{ i }}" (click)="toggleGenre(i)">
          {{ genre }}
        </li>
      </ul>
    </div>

    <button type="submit" [disabled]="!profileForm.valid">>></button>

  </form>
</div>
