label, li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: lighter;
    margin: 0.5em;
    text-align: center;
    list-style: none;
  }

  .genreBtn{
    background: rgb(192, 191, 191);
    padding: 15px;
  }

  form{
      text-align: center;
  }